html, body {overflow-x: hidden;}

.App {
  text-align: center;
  background-image: url("./background.jpg");
  min-height: 100vh;
}

nav {

}
.navlinks {
  padding-left:30px;
}

.navlinks:hover {
  text-decoration: underline;
}

.navbar-text {
  color:#9840d0 !important;
  font-size: 17px;
  font-weight: 500;
}

.navbar-brand {
  color:#FC1B27 !important;
  font-size: 17px;
  font-weight: 600;
  -webkit-text-stroke: 0.1px black;
}

.padded-main-content {
  padding-top: 10vh;
}

.main-text {
  color:white;
  margin-left: 5vw;
  font-size: 15px;
}

.header-img {
  border-radius: 50% 50% 50% 50%;
  width:60%;
}

.home-banner {
  color:#FC1B27;
  font-weight:700;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-text-stroke: 0.75px black;
}

.home-banner-subtext {
  font-weight: 600;
  font-size: 24px;
}

.skills-div {
  padding-top:10vh;
}

.skills-logo {
  padding-right:10px;
}

.skills-text {
  display:inline-block;
  padding-left:10px;
  color: #636363;
  font-size:25px;
}

#skill-header {
  color: #4d4d4d;
  font-size: 10vh;
  font-weight: 400;
}

.skills-title {
  color:#4d4d4d;
  font-size:4vh;
}

.social-icon {
  margin:3vh;
  
}

.projects-title-text {
  color:#B34E40;
  font-size: 36px;
  padding-left: 10vw;
}

.card-img {
  height:10vw;
  object-fit: contain;
}

.card-col {
 max-width: 450px !important;
}

.project-card {
  background-color: rgb(248, 248, 248) !important;
  color:black !important;
  border-color: #1A1A1D !important;
  border-radius: 4px;
}

.proj-git-link {
  color:#B39E29 !important;
  position: relative;
  top:0;
  transition: top ease 0.5s;
}


.proj-git-link:hover {
  color:rgb(209, 185, 49) !important;
  top: -2px;
}

.contact-form-sect {
  display: block;
  border: 1px solid #B39E29;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0 0 10px 10px;
  max-width: 650px;
  min-width: 300px;
  width:30vw;
  background-image: url("./assets/spikes.png");
}

.contact-form {
  padding: 10px 10px 0 0;
}

.cf-textarea {
  margin: 5px 0;
	width: 100%;
	height: 100px;
}

.form-labels {
  color: rgb(0, 0, 0);
  margin: 0;
}

.wrapper {
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.contact-sub {
  width: 50%;
  height: 50px;
  background-color: rgb(224, 198, 48);
  border: 0;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: 10px 0 0 0;
  font-size: 18px;
}

.contact-sub:hover {
  border: 2px solid rgba(50, 50, 56, 0.404);
}

.cf-title {
  display: inline-block;
}

.cf-title h2 {
  padding: 0 10px 0 0px;
	margin: 5px 0;
}

.loop-items {
  color:#FC1B27;
  -webkit-text-stroke: 0.1px black;
}

.social-icons .social-svg {
  color: #FC1B27;
}

.social-icons .social-svg:hover{
  color: rgb(252, 27, 39);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .home-banner {
    font-size: 70px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .home-banner {
    font-size: 40px;
  }
}

.lander-but:hover {
  background-color: #B34E40 !important;
  border-style: solid;
  border-color: rgb(134, 51, 40) !important;
  border-width: 2px;
  outline: 0 !important;
}

.lander-but {
  border-style: solid;
  border-color: rgb(148, 129, 22) !important;
  border-width: 2px !important;
}

hr {
  border-style: solid;
  border-color: black !important;
  margin-left:0;
  margin-right:auto;
}

.experience {
  width:50vh ;
}

.exp-hr {
  width:100%;
  border-style:solid;
  border-color:#1A1A1D !important;
  margin-top: 0;
  margin-bottom: 0;
}

.experience-card {
  border-radius: 2px;
  margin:5px;
}

.exp-title {
  color: #4d4d4d;
  font-size:1.2em;
}

.exp-maintext {
  color: #636363;
  font-size: 1.2em;
}

.exp-img {
  padding:5vh;
}

.skills-wrapper {
  min-width: 200px;
}

.skill-container {
  padding-left: 4vw;
}


.background-div {
  border-radius: 3px;
  background: whitesmoke;
  background-image: url("./assets/spikes.png");
}

@media only screen and (min-width: 600px) {
  .background-div {

    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom:5vw;
  }
}

@media only screen and (max-width: 600px) {
  .background-div {
    margin-left: 0;
    margin-right: 0;
  }
}